# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:
Integers and signed floats.

Strings:
Immutable, ordered sequences of ASCII or Unicode characters.

Lists:
Mutable, ordered sequences of objects, not necessarily of the same type.

Tuples:
Immutable, unordered sets of unique objects, not necessarily of the same type.

Dictionaries:
Mutable, unordered key-value paired mappings, such that the set of keys and the set of values are not necessarily of the same type.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
1.0/4 + 4*5**2

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [4]:
2/3
# 2/3 will print 0 in Python 2 since it performs integer division by default.
# 2.0/3 would print the correct float answer 0.666...
2.0/3

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5 

44, 29 and 34

In [6]:
4 * (6 + 5), 4 * 6 + 5, 4 + 6 * 5

(44, 29, 34)

What is the *type* of the result of the expression 3 + 1.5 + 4?

floating point

What would you use to find a numberâ€™s square root, as well as its square?

In [9]:
# Exponent: n ** exp, e.g. n ** 1/2, n ** 2.
9 ** (1.0/2), 9 ** 2

(3.0, 81)

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [10]:
s = 'hello'
# Print out 'e' using indexing

# Code here
s[1]

'e'

Reverse the string 'hello' using indexing:

In [11]:
s ='hello'

# Reverse the string using indexing

# Code here
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [12]:
s ='hello'

# Print out the

# Code here
s[4], s[-1]

('o', 'o')

## Lists

Build this list [0,0,0] two separate ways.

In [13]:
[0] * 3, [0] + [0] + [0]

([0, 0, 0], [0, 0, 0])

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [14]:
l = [1,2,[3,4,'hello']]
l[2][2] = 'goodbye'
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [15]:
l = [5,3,4,6,1]
l.sort()
l

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [16]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [17]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [19]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

# Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [20]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

You cannot sort it in place because it is inherently ordered by the hashed key values. You can however return the items in sorted order of keys by sorting the keys and iterating the dictionary by that sorted key list.

## Tuples

What is the major difference between tuples and lists?

Tuples are unordered and immutable. Lists are ordered and mutable.

How do you create a tuple?

In [21]:
(1, 2, 3)

(1, 2, 3)

## Sets

What is unique about a set?

The elements are unique.

Use a set to find the unique values of the list below:

In [30]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [23]:
# Answer before running cell
2 > 3
# False.

False

In [24]:
# Answer before running cell
3 <= 2
# False.

False

In [25]:
# Answer before running cell
3 == 2.0
# False.

False

In [26]:
# Answer before running cell
3.0 == 3
# True.

True

In [27]:
# Answer before running cell
4**0.5 != 2
# False.

False

Final Question: What is the boolean output of the cell block below?

In [28]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
# 3 >= 4. False.

False

## Great Job on your first assessment!